@import url('https://fonts.googleapis.com/css2?family=Bonbon&family=Bree+Serif&family=Great+Vibes&family=Imperial+Script&family=Merienda:wght@300..900&family=Noto+Serif+Ethiopic:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Bree Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;


    color: #b6693d;
    background-color: #ebdbcd;

}

body {
    /*background-color: teal;*/
    margin: 0 1rem;

}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




.greetingText {
    text-align: center;
    color: #655f1a;
}


.dateText {
    color: #9a4e23;
}

.programImg {
    width: 80%;
    max-width: 500px;
    min-width: 250px;
}


.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridUpperImg {
    width: 100%;
    max-width: 800px;
    transform: scaleY(-1) !important;
}





